@font-face {
	font-family: 'ManropeRegular';
	src: url('../public/Manrope/Manrope-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	}
	::-webkit-scrollbar {
		display: none;
	}

	@font-face {
		font-family: 'ManropeLight';
		src: url('../public/Manrope/Manrope-Light.ttf');
		font-weight: 400;
		font-style: normal;
		}
		@font-face {
			font-family: 'ManropeLight';
			src: url('../public/Manrope/Manrope-Light.ttf');
			font-weight: 400;
			font-style: normal;
			}
	

		@font-face {
			font-family: 'ManropeBold';
			src: url('../public/Manrope/Manrope-Bold.ttf');
			font-weight: 400;
			font-style: normal;
			}
			@font-face {
				font-family: 'SaolDisplay-Regular';
				src: url('../public/font/SaolDisplay-Regular.ttf');
				font-weight: 400;
				font-style: normal;
				}


				.outer-wrapper {
				
					width: 100vh;
					height: 100vw;
					transform: rotate(-90deg) translateX(-100vh);
					transform-origin: top left;
					overflow-y: scroll;
					overflow-x: hidden;
					position: absolute;
					
					scrollbar-width: none;
					-ms-overflow-style: none;
				
				  }
				  

				  input {
					font-family: 'ManropeLight';
				  }

				  textarea {
					font-family: 'ManropeLight';
				  }
				  button {
					font-family: 'ManropeLight';
				  }
				  
				  /* wrapper containing our slides */
				  .inner-wrapper {
					display: flex;
					flex-direction: row;
					width: 500vw;
					transform: rotate(90deg) translateY(-100vh);
					transform-origin: top left;
					overflow-y: hidden;



					
				  }

			

			
		


	
	